port-forward*.log
*.log
*.pyc
__pycache__/
.dvc/cache
.dvc/tmp
data/churn_data.csv
models/churn_model.pkl
.venv/
nohup.out
monitoring/reports/*.html
monitoring/reports/*.json
monitoring/drifted_data.csv
monitoring_venv/
get-pip.py
